@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div class="form-group">
        <label for="selectedString">Välj en kryptovaluta:</label>
        <select class="form-control" id="selectedString" name="SearchTerm" asp-for="SearchTerm">
            @foreach (var str in Model.Strings)
            {
                <option value="@str">@str</option>
            }
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Skicka</button>
</form>



    @if (Model.sekViewModel != null)
    {
        <h1>Sek</h1>
        <h2>@Model.sekViewModel.Sek</h2>
    }

